extends layout
block content
	script(type='text/javascript' src='scripts/index.js')
			
	#header
	h3 Search over 1 Million customer Data!
	p the fuzzy search goes through company name, first and last name. 
	p i. e. type colin
	#search
	h3 Powered by SAP HANA
	#table
	br
	a(href='mailto:lukas.lehmann@swisscom.com') Questions, improvements?